.menu {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  background-color: white;
  margin-top: 20px;
  margin-left: 20px;
  z-index: 3;

}

#canvas {
  height: 10000px;
  width: 10000px;
  background-size: 40px 40px;
  z-index: 0;
  background-image:
    linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);
}

.storyNode {
  height: 1000px;
  width: 1000px;
  background-color: black;
  z-index: 2;
}