html {
  font-family: Arial, Helvetica, sans-serif;
}

.menu {
  border: 2px solid black;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  background-color: #11999e;
  margin-top: 30px;
  margin-left: 20px;
  z-index: 3;
}

#addNode {
  height: 60px;
  width: 150px;
  font-size: x-large;
  border: none;
  color: #f3f6f6;
  background-color: #40514edb;
  border-radius: 5px;
}

#addNode:hover {
  background-color: #40514e;
}

#canvas {
  margin-top: -10px;
  margin-left: -10px;
  overflow-y: hidden;
  height: 100.8%;
  width: 100.7%;
  background-color: #30e3ca;
  background-size: 40px 40px;
  z-index: 0;
  background-image:
    linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);
}

.storyNode {
  height: 250px;
  width: 250px;
  background-color: #11999e;
  border-radius: 25px;
  border: 2px solid #40514e;
  z-index: 4;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
}

.titleContent, .noteContent {
  background-color: #f3f6f6;
  border-radius: 5px;
  border: none;
}

.noteContent {
  resize: none;
  height: 75%;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.saveButton {
  height: 25px;
  border: none;
  font-size: medium;
  color: #f3f6f6;
  background-color: #40514edb;
}

.saveButton:hover, .editButton:hover {
  background-color: #40514e;
}

.editButton {
  font-size: medium;
  border: none;
  color: #f3f6f6;
  background-color: #40514edb;
}

.buttonContainer > * {
  width: 40%;
}